/* 
 * Monkey patch CSS
 * Blockee's CSS is mostly handled by bootstrap
 * Additions / overides are handled here
 */

#main {
  font-family: 'Rokkitt', Times, serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 110%;
  border-style: solid;
  border-width: 0px;
  padding: 20px;
  
 /* margin: 20px;*/
}

#mainmobile {
  font-family: 'Rokkitt', Times, serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 110%;
  border-style: solid;
  border-width: 0px;
  padding: 20px;
  
 /* margin: 20px;*/
}
.row-fluid {
  margin-bottom: 20px;
}
input {
  margin-bottom: 10px;
}
button {
  margin-bottom: 20px;
}


#shares {
   display:none; 
   background-color:#999999;
   padding:5px;
   width: 220px;
}

.twitter-share-iframe {
    width:57px;
    height:20px;
    vertical-align:middle;
}

.facebook-share-iframe {
    border:none;
    overflow:hidden;
    width:50px;
    height:26px;
    vertical-align:middle;
}
