/* 
 * Monkey patch CSS
 * Blockee's CSS is mostly handled by bootstrap
 * Additions / overides are handled here
 */

#main {
  font-family: 'Rokkitt', Times, serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 110%;
  border-style: solid;
  border-width: 0px;
  padding: 20px;
  
 /* margin: 20px;*/
}

#main h1{padding-top: 10px;}

body .row-fluid {
  margin-bottom: 12px;
}

.row-fluid a:hover { 
    color: #ffc0cb; 
}
.row-fluid a { 
    color: #000;
    text-decoration: underline;
}

#tipsModal a:hover { 
    color: #ffc0cb; 
}


#tipsModal a { 
    color: #000;
    text-decoration: underline;
}
#mainmobile {
  font-family: 'Rokkitt', Times, serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 110%;
  border-style: solid;
  border-width: 0px;
  padding: 20px;
  
 /* margin: 20px;*/
}
.row-fluid {
  margin-bottom: 20px;
}
input {
  margin-bottom: 10px;
}
button {
  margin-bottom: 20px;
}


#shares {
   display:none; 
   background-color:#FFF;
   padding:0px;
   width: 220px;
}

#shares2 {
   background-color:#FFF;
   padding:0px;
   width: 220px;
}

.twitter-share-iframe {
    width:57px;
    height:20px;
    vertical-align:middle;
}

.facebook-share-iframe {
    border:none;
    overflow:hidden;
    width:50px;
    height:26px;
    vertical-align:middle;
}

.footer { 
    font-family: 'Rokkitt', Times, serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 110%;
  border-style: solid;
  border-width: 0px;
  padding-top: 20 px;}

.footerphone {
  font-size: 18px;
  line-height: 110%;
}

.footer a:hover { 
    color: #ffc0cb; 
}
.footer a { 
    color: #000;
    text-decoration: underline;
}

.tipsfoot {
    background: #FFF;
    position: fixed;
    bottom: 20px;
}


.uibutton { 
    position: relative; 
    z-index: 1;
    overflow: visible; 
    display: inline-block; 
    padding: 0.2em 0.5em 0.275em; 
    border: 1px solid #999; 
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none; 
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif; 
    white-space: nowrap; 
    cursor: pointer; 
    /* outline: none; */
    color: #333; 
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: linear-gradient(#f5f6f6, #e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.uibutton:hover,
.uibutton:focus,
.uibutton:active {
    border-color: #777 #777 #666;
}

.uibutton:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.uibutton.confirm {
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5B74A8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
}

.uibutton.confirm:active {
    border-color: #29447E;
    background: #4F6AA3;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.filepckr {
  float:left;
  height:100%;
  width:100%;
}

.filepckr2 {
  opacity:0;
  filter:alpha(opacity=0);
  background:transparent;
  cursor:pointer;
  position:relative;
  top:-40px;
  left:0;

}

.filehldr{
  width:150px;
  height:30px;
}





