<div class="modal hide" id="fileModal" style="top:50%;width:590px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Upload an image from your computer</h3>
  </div>
  <div class="modal-body">
    <form id="upload-form" enctype="multipart/form-data" action="/api/upload" method="post">
      <!-- Should this allow multiple files to be uploaded? -->
      <input id="modal-file-input" type="file" name="file" value="Choose File" class="btn" multiple />
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">
      <i class="icon-remove"></i>
      Close
    </a>
    <a id="make-upload" href="#" class="btn btn-success" id="uploadFile" style="display:none">
      <i class="icon-ok-sign icon-white"></i>
      Load Photo
    </a>
  </div>
</div>
