<div class="modal hide" id="tipsModal" style="top:50%;width:590px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>

    <!-- this needs to be styled! -->
    <div><h1>Here are a few tips to get you started:</h1></div>
    </br>Share this link and gain support. If your city has a Twitter account, @mention them in a Blockee tweet.</br></br>

    
	If it is in your city, make a page on </br><a href="https://neighborland.com/" target="_blank">Neighborland </a>
       or 
       <a href="http://changeby.us/" target="_blank">Change by Us </a></br></br>

	Ask for advice from 311 or a city hall department such as planning, redevelopment or parks and recreation.
	Even if they are not the right department they might be able to guide you to someone who can help.</br></br>

        Are we missing something?
        </br><em> Please <a href="mailto:blockee@codeforamerica.org?Subject=blockee.org">email</a> and let us know.</em>

  </div>
  <div class="modal-footer">
    <!-- you can put stuff here, if you want -->
  </div>  
</div>