<div class="modal hide" id="tipsModal" style="top:50%;width:590px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>

    <!-- this needs to be styled! -->
	Here are some tips to get you started:

	If it is in your city, make a page on https://neighborland.com/ 
	or http://changeby.us (NYC & Philly only) 

	Ask for advice from 311 or a city hall department such as planning, redevelopment or parks and recreation.
	Even if they are not the right department they might be able to guide you to someone who can help.

	Are we missing something? Please email and let us know.

  </div>
  <div><h1>test</h1></div>
  <div class="modal-footer">
    <!-- you can but stuff here, if you want -->
  </div>  
</div>