



<div class="modal hide" id="teamModal" style="top:50%;width:590px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    
  </div>
  <div class="modal-body teamb">

    <h1>Team Blockee<h1/>
<div class="row-fluid"> 
    <span class="teamname" name="Jesse Bounds">Jesse Bounds</span>
      </br>
<span class="teamb">A software engineer and web developer. He builds scalable systems, is a rock, programing buddah, and fount of knowledge. <a href="http://codeforamerica.org/jesse-bounds/" target="_blank">Learn more.</a>
</span>
</br>
</br>
<span class="teamname" name="Serena Wales">Serena Wales</span>
      </br>
<span class="teamb">A web developer from New York with experience building campaigning tools and web, applications for nonprofits and corporations. A bad ass coder in the best way possible. <a href="http://codeforamerica.org/serena-wales/" target="_blank">Learn more.</a>
</span>
</br>
</br>
<span class="teamname" name="Nick Doiron">Nick Doiron</span>
      </br>
<span class="teamb">A developer focusing on web maps, interactive media, and environmental sensors. Nick believes children should be taught CSS before ABCs. <a href="http://codeforamerica.org/nick-doiron/" target="_blank">Learn more.</a>
</span>
</br>
</br>
<span class="teamname" name="Tamara Shopsin">Tamara Shopsin</span>
      </br>
<span class="teamb">A designer and illustrator with web chops. <a href="http://tamarashopsin.com/" target="_blank">Learn more.</a>
</span>
</br>
</br>
<span class="teamb"> <a href="mailto:blockee@codeforamerica.org?Subject=Blockee">Contact</a> us.
  </span>
    </div>

  <div class="modal-footer">
  </div>
</div>