<div class="row-fluid">
  <div class="span3">
    <div class="row-fluid">
      <canvas id="logo" width="217" height="55"></canvas>
    </div>
    <div class="row-fluid">
      <span>Pimp your block:</span>
    </div>
    <div class="row-fluid">
      <span>1. Upload an Image or paste a link from google maps:</span>
    </div>
    <div class="row-fluid">
      <input></input>
      <input></input>
      <button id="upload">submit</button>
    </div>
    <div class="row-fluid">
      <span>2. Drag & drop some Civic Bling</span>
    </div>
  </div> <!-- /span3 -->
  <div class="span9">
    <!-- stage holds blockee picture view -->  
    <div id="stage"></div>
  </div> <!-- /span9 -->
</div> <!-- /row -->
