<div class="row-fluid">
  <div class="span3">
    <div class="row-fluid">
        <a href="/">
      <canvas id="logo" width="217" height="55"></canvas>
        </a>
    </div>
    <div class="row-fluid">
      <span>Pimp your block:</span>
    </div>
    <div class="row-fluid">
      <span>1. Choose an image from your computer or Google Maps</span>
    </div>
    <div class="row-fluid">
      <form id="upload-form" enctype="multipart/form-data" action="/api/upload" method="post">
        <input type="file" name="file" value="Choose File" class="btn" multiple>
        <input type="submit" value="Submit!" class="btn">
      </form>
      </br>    
      <input type="button" id="street-view" value="Use Google Street View" class="btn">
      </br>
    </div>
    <div class="row-fluid">
      <span>2. Drag & drop some Civic Bling</span>
    </div>
      <!-- /adding share feature -->
    <div class="row-fluid">
      <span>3. Share the link, start a block party:</span>
      <br/>
       <br/>
      <input type="button" value="Share" id="share-button" class="btn">
      <div id="shares">
        <input id="long_url" type="text" class="input-medium" value="http://blockee.org"/>
        <br/>
      
        <iframe class="twitter-share-iframe" allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=http://blockee.org&count=none"></iframe>
        <input id="fb-button" type="button" value="Post" class="uibutton confirm"/>
      </div>
    </div>
       <!-- /end share feature -->
       
    </div>
   
    <!-- /span3 -->
    <div class="span9">
      <!-- stage holds blockee picture view -->
      <div id="stage"></div>
    </div> <!-- /span9 -->
</div> <!-- /row -->

  <div class="container footer hidden-phone">
          <span>Version 1.0 <em>Beta!</em>&nbsp;&nbsp;<a href="https://tinyletter.com/blockee" target="_blank">Join the mailling list</a> for future releases. </br>Questions? <a href="mailto:blockee@codeforamerica.org?Subject=blockee.org">Contact us</a>.&nbsp;&nbsp;Answers: Labs Friday, <a href="http://codeforamerica.org/" target="_blank">Code for America</a>, <a href="https://github.com/codeforamerica/blockee" target="_blank" >Open Source</a>.</span>
  </div>
